.divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid grey;
    line-height: 0.1em;
    margin-bottom: 25px
}

.divider span {
    background-color: #f8f9fa;
    padding: 0 10px;
    color: grey;
    font-size: 14px;
}

.bg-body-tertiary {
    background-color: #38527E !important;
}

.btn-light {
    background-color: #DDDDDD;
}

.btn-primary {
    background-color: #38527E !important;
}

.btn-primary:hover {
    background-color: #2f4874;
}

.text-primary {
    color: #38527E !important;
}

.text-secondary {
    color: #DDDDDD !important;
}

.bg-primary {
    background-color: #38527E !important;
}

@media (max-width: 700px){
    .slide-cover {
        height: 250px;
        object-fit: cover;
        transform: scale(2);
        object-fit: contain;
    } 

    .text-white {
        color: #2f4874 !important;
    }

    .text-secondary {
        color: rgba(0, 0, 0, 0.528) !important;
    }
}

.img-cover {
  transition: transform 0.3s ease;
  height: 250px;
  object-fit: cover;
  transform: scale(0.8);
  object-fit: contain;
}

.img-thumbnail {
    border-color: #38527E;
} 

.navbar-toggler {
    background-color: white;
}

